<!DOCTYPE html>
<html lang="en">
<% include parts/header %>
<body>
  <div class="container">
    <div class="login-container">
      <div class="logo-container">
        <img src="img/logo.png" alt="Logo">
      </div>
      <p class="login-note">Welcome user! If you don't have an account just create it or login in to app!</p>
      <form class="login-form" action="/login" method="POST">
        <div class="input-field">
          <input class="input" type="email" placeholder="Enter e-mail" name="email">
        </div>
        <div class="input-field">
          <input class="input" type="password" placeholder="Enter password" name="password">
        </div>
        <div class="input-field">
          <input class="button" type="submit" value="Login">
        </div>
      </form>
      <p class="belowForm">Don't have an account yet? <a href="/signup">Sign up</a></p>
    </div>
  </div>

</body>
</html>
